*{
  font-family: url("https://fonts.googleapis.com/css?family=Work+Sans:400,600|Space+Mono:400,700");
  box-sizing: border-box;
  margin: 10;
  padding: 10;
  background-color: rgba(43, 43, 43, 1);
  color: white;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.header{
margin: 20px;
font-family: 'Work Sans';
font-style: normal;
font-size: 16px;
}
/*START Header burger-menu */
.container{
  margin: 0, auto;
  padding: 0 10px;
}
.header{
  width: 100%;
}
.box{
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu{
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  gap:30px;
}
.mobile_btn{
  display: none;
}
.sign-btn{
  background-color: blueviolet;
  border: none;
  color:white; 
  padding: 15px 35px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 15px;
}
@media(max-width: 900px){
  .mobile_btn{
    display: block;
    position: absolute;
    right:10px;
    top: 27px;
    cursor: pointer;
    z-index: 10;
  }
  .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 43, 43, 1);
    z-index: 10;
    transition: left 1s;
  }
  .active{
    left:0;
  }
  .menu a{
    font-size: 28px;
  }
}
/*END Header burger-menu */
/* START HomePage */
.discover{
  display: flex;
  justify-content: space-evenly;
}
.discover_text{
font-family: 'Work Sans';
font-size: 25px;
}
.discover_text h1{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 61px;
}
.btn-start img{
  background-color: blueviolet;
}
.discover_text button{
  background-color: blueviolet;
  border: none;
  color:white; 
  padding: 15px 45px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.number{
  display: flex;
  font-size: 28px;
  justify-content: space-between;
}
.number_char{
  display: flex;
  font-size: 28px;
  justify-content: space-between;
}
@media (max-width: 870px){
  .discover{
    margin-left: 50px;
  }
  .discover_text h1{
    font-size: 30px;
  }
  .discover_text{
   font-size: 20px;
  }
  .number{
    font-size: 20px; 
  }
  .number_char{
    font-size: 20px;
  }
  .discover__img{
width: 300px;
height: 300px;
margin-top: 0px;
  }
  .header h1{
    font-size: 25px;
  }
}
@media (max-width: 550px){
  .discover{
    margin: 0px;
  }  
  .discover_text{
   font-size: 20px;
  }
  .number{
 display: none;
  }
  .number_char{
    display: none;
  }.discover__img{
    width: 200px;
    height: 200px;
    margin-top: 0px;
      }
      .header h1{
        font-size: 15px;
      }
      .mobile_btn{
      top:40px;
      }
    }
@media(max-width:380px){
  .discover_text button{
    padding: 15px 140px;
    font-size: 15px;
    border-radius: 20px;
  }
  .discover__img{
    width: 350px;
    height: 350px;
    margin-top: 0px;
  }
}  
      @media(max-width:450px){
        .discover{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        .number{
          width: 200px;
          padding: 5px;
        }
        .number_char{
        width: 200px;
        padding: 5px;
        }
       .menu{
          display: flex;
          width: 100%;
   }
        .active{
          left:0;
        }
        .menu a{
          font-size: 15px;
        }
      }
      .trending{
padding: 40px;
      }
      .trending-text{
    display: block;
    padding:70px;
      }
      .trending__img{
        display: flex;
   justify-content: space-evenly;

      }
      .trending__imgs{
        display: flex;
        padding: 5px;
        justify-content: space-between;
      }
      .trending__ava{
padding: 0px;
font-size: 18px;
display: flex;
      }
      .fox{
        margin-left: 10px;
      }
      .scale {
        cursor: pointer;
        transition: 1s;
       }
       .scale:hover {
        transform: scale(0.9); 
       }
       @media(max-width:1020px){
        .disco{
          display: none;
        }
        .trending-text{
          padding: 0px;
          margin: 20px;
        }
       }
       @media(max-width: 680px){
        .trending{
          padding: 0;
        }
        .magic{
          display: none;
        }
       .trending-tex{
    display: flex;
       }
       }
.creators-text{
 padding-left:  150px;
 padding-right: 150px;
margin: 30px;
}
.creators-btn{
  display: flex;
  justify-content: space-between;
}
.creators-btn button{
  border: 2px solid;
  border-color:#a259ff;
  border-radius: 20px;
  cursor: pointer;
  gap: 12px;
  height: 60px;
  padding: 0px 50px;
}
.cards{
  display: flex;
  align-items: center;
 flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
.card{
align-items: flex-start;
    background-color: #3B3B3B;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    gap: 20px; 
    justify-content: center;
    align-items: center;
    mix-blend-mode: normal;
    padding: 20px;
    position: relative;
}
.card:hover {
  transform: scale(0.9); 
 }
.circle{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 15px;
  top: 18px;
  background: #2B2B2B;
  border-radius: 20px;
  color: #858584;
}
.card-ava{
  display: flex;
  border-radius: 100px;
  background-color:  #3B3B3B;
}
.name{
  width: 200px;
height: 31px;
  font-size: 22px;
   color: #FFFFFF;
}
.sales{
  width: 60px;
height: 22px;
background-color:  #3B3B3B;
font-size: 10px;
color: #858584;
display: flex;
align-items: center;
}
.cost{
  display: flex;
  align-items: center;
font-size: 13px;
background-color:  #3B3B3B;
}
      /* End HomePage */
.name{
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  justify-content: center;
  position: relative;
}
.val{
  display: flex;
  background-color:#3B3B3B ;
}
@media(max-width: 1000px){
  .creators-text{
    padding-left: 0px ;
    padding-right: 0px;
  }
}
@media(max-width:800px){
  .creators-btn{
    display: flex;
    flex-wrap: wrap;
  }
.card_display{
  display: none;
}
}
.card-browse{
  background: #3B3B3B;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}
.card-browse:hover {
  transform: scale(0.9)
}
.card-body{
  padding: 20px;
  background: #3B3B3B;
       line-height: 22.4px;
       border-radius: 20px;
}
.card-body p{
  background: #3B3B3B;
  font-size: 22px;

}
.browse{
 display: flex;
 flex-direction: column; 
padding: 50px;
}
.browse-text{
margin-left: 100px;
}
.cards-browse{
  display: flex;
  align-items: center;
 flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding: 50px;
}
@media(max-width:870px){
.cards-browse{
  padding: 0px;

}
}
@media(max-width:750px){
  .browse-text{
    margin-left: 0px;
    padding: 0px;
  }
}
.more-text{
  padding-left:  150px;
  padding-right: 150px;
 margin: 30px;
 }
 .more-btn{
   display: flex;
   justify-content: space-between;
 }
 .more-btn button{
   border: 2px solid;
   border-color:#a259ff;
   border-radius: 20px;
   cursor: pointer;
   gap: 12px;
   height: 60px;
   padding: 0px 50px;
 }
 .more-cards{
  display: flex;
  align-items: center;
 flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding: 50px;
}
.more-card{
  background: #3B3B3B;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}
.more-card:hover {
  transform: scale(0.9)
}
.more-body{
  background: #3B3B3B; 
}
.more-body h3{
  background: #3B3B3B; 
margin: 20px;
}
.more__ava{
    padding: 0px;
    margin: 20px;
    font-size: 18px;
    display: flex;
    background-color: #3B3B3B;
          }
          .ava{
            margin-left: 10px;
            background-color: #3B3B3B;
          }
.more-info{
  background-color: #3B3B3B;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  font-size: 12px;
}
.more-info ul, li{
  background-color: #3B3B3B;
}  
.more-info li{
  color: #858584;
}
.eth{
  background-color: #3B3B3B;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  font-size: 16px;
}        

@media(max-width:870px){
  .more-cards{
  padding: 0px;
  }
}
@media(max-width: 1000px){
  .more-text{
    padding-left: 0px ;
    padding-right: 0px;
  }
}
@media(max-width:800px){
  .more-btn{
    display: flex;
    flex-wrap: wrap;
  }
}